<template>
  <div id="sales-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Article Number</th>
              <th scope="col">Quantity</th>
              <th scope="col">Completed</th>
            </tr>
            </thead>
            <tbody>
            <tr v-on:click="onRowClick(i)" v-for="(order, i) in orders" :key="order.id"
                v-bind:class="{'table-info': order.id === activeOrder.id}">
              <td>{{ order.id }}</td>
              <td>{{ order.articleId }}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.completed }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h5>Edit Order</h5>
          <form v-on:submit="onSave()">
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="id">Number:</label>
              <div class="col-sm-9">
                <input v-model="activeOrder.id" class="form-control-plaintext" id="id" readonly type="text"/>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="articleId">Article Number:</label>
              <div class="col-sm-9">
                <input v-model="activeOrder.articleId" class="form-control" id="articleId" type="text"/>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="quantity">quantity:</label>
              <div class="col-sm-9">
                <input v-model="activeOrder.quantity" class="form-control" id="quantity" type="text"/>
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-sm-3 col-form-label" for="completed">Completed:</label>
              <div class="col-sm-9">
                <input v-model="activeOrder.completed" class="form-check-input" id="completed"
                       type="checkbox"/>
              </div>
            </div>
            <div class="form-group mt-3">
              <button class="btn btn-primary">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import axios from "axios";

export default {
  name: 'Sales',
  props: {},
  mounted() {
    axios.get('http://34.143.132.249/sales').then((response) => {
      this.orders = response.data;
      this.activeOrder = this.orders[0];
    })
  },
  data() {
    return {
      orders: [],
      activeOrder: {}
    }
  },
  methods: {
    onRowClick(rowIndex) {
      this.setActive(rowIndex);
    },
    onSave() {
      alert('Save data was clicked.');
    },
    setActive(rowIndex) {
      this.activeOrder = this.orders[rowIndex];
    }
  }
}
</script>

<style scoped>

#sales-container:hover {
  padding: 1em;
  border: 3px solid #21dbb0;
}

#sales-container:not(:empty):hover::after {
  content: 'Team Sales (Vue.js)';
  background: white;
  position: absolute;
  margin-top: 4px;
  padding: 5px;
  color: #21dbb0;
}
</style>
